<mat-nav-list>
    <div class="profile">
        <div class="header">
            <h2> User </h2>
            <h4> example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/about">About</a>

</mat-nav-list>>